---
import "../styles/global.css";
import Smoke from "../components/Smoke.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>CyberPhonk Portfolio</title>
  </head>
  <body>
    <Smoke />
    <slot />
  </body>
</html>

<style>
  :root {
    --neon-pink: #ffffff;
    --neon-blue: #ffee00;
    --dark-bg: #f80000;
  }

  html{
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "JollyLodger", system-ui, sans-serif;
    color: rgb(255, 255, 255);
    background: linear-gradient(135deg, #000000, #000000b4, #000000);
    background-size: 300% 300%;
    animation: cyberGradient 12s ease infinite;
  }

  @keyframes cyberGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
</style>